<h1>{{customer_first_name}} {{customer_last_name}}</h1>
<!-- <img src="{{customer.profile_picture.url}}" alt="profile_picture"> -->
<h2>{{customer_email}}</h2>
<h2>{{customer_age}}</h2>
<h2>{customer_address</h2>

    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{customer.first_name}} {{customer.last_name}}</h1>
    <img src="{{customer.profile_picture.url}}" alt="profilepicture">
    <h2>{{customer.email}}</h2>
    <h3>{{customer.age}}</h3>
    <h4>{{customer.address}}</h4>
    <td><a href="{%url 'edit_customer' id=customer.id%}">edit</a></td>
</body>
</html>